<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file" fileName="${filename}/logs.log"
                     filePattern="${filename}/logs-%d{HH-mm-ss-SSS}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                </pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="10 KB" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>